{% extends "base.html" %} 
{% block titulo %} Editar produto{% endblock %} 
{% block conteudo %}
<div class="mb-3 mx-auto p-2">
<div class="card text-light bg-dark " data-bs-theme="dark">
  <div class="card-body">
    <h3 class="text-center">Edite {{ produto.nome}}</h3>
    <form action="{% url 'editarProduto' produto.id %}" method="POST">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          name="nome"
          id="nome"
          placeholder="nome"
          value={{produto.nome}}
          required
        />
        <label for="nome">Nome</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          name="quantidade"
          id="quantidade"
          placeholder="Quantidade"
          value={{produto.quantidade}}
        />
        <label for="quantidade">Quantidade</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="date"
          class="form-control"
          name="data_de_ultima_compra"
          id="data-de-ultima-compra"
          placeholder="Data de última compra"
          value="{{ produto.data_de_ultima_compra|date:'Y-m-d' }}"
        />
        <label for="data-de-ultima-compra">Data de última compra</label>
      </div>
      <div class="d-grid">
        <input type="submit" value="Salvar" class="btn btn-light" />
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}
