{% extends "base.html" %}

{% block titulo %} Login {% endblock %} 

{% block conteudo %}
<div class="card text-light bg-dark mb-3 mx-auto p-2" data-bs-theme="dark">
  <div class="card-body">
    <h3 class="text-center">Preencha o usuário e senha </h3>
    <form action="{% url 'login' %}" method="POST" data-bs-theme="dark">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Usuário" required>
        <label for="usuario">Usuário</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha" required>
        <label for="senha">Senha</label>
      </div>

      <div class="d-grid ">
        <input type="submit" value="Logar" class="btn btn-light " />
      </div>
    </form>
  </div>
</div>
{% endblock %}
